body{
    margin-top: 120px;
    margin-left: 7%;
    font-family: 'Poppins', sans-serif;
}
.h1{
    font-size: medium;
}
.h6{
    font-size: xx-small;
}
.part
{
    width: 45%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}
.part img{
    width: 80%;

}
.para{
    width: fit-content;
}
.colur{
    color: darkmagenta;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg,rgb(184, 25, 104), tomato);
}
.backone{
    background-image: url("images/header-bg.png");
    
}
section{
    margin-bottom: 200px;
    height: 500px;
    padding-bottom: 90px;
    width: 100%;
    margin-bottom: 5%;
}
.backtwo{
    background-image: url("images/biography-bg.png");
    
}
.center{
    text-align: center;
}
.work{
    background-image: url("images/latest-work-bg.png");
    
}
.works img{
    float: left;
    padding: 2%;
    width: 28%;
}
.contact{
    margin: 120px;
    padding: 15px;
    background-color: rgb(243, 67, 67);
    border-radius: 20px;
    color: white;
}